venv
__pycache__
.idea
.ipynb_checkpoints
cloud_deployment/terraform.tf.py
docker/Generic
index.html
data/test.csv
data/test2.csv
data/currecy_values.csv
automated_deployment/.terraform
automated_deployment/.terraform.lock.hcl
automated_deployment/config.env
automated_deployment/emr-key-pair.pem
automated_deployment/plan
automated_deployment/terraform.tfstate
automated_deployment/terraform.tfstate.backup